{% extends "core/base.html" %}
{% load static %}


{% block content %}

<!-- Hero Section Start -->
    <div class="hero hero-slider-layout">
        <div class="swiper">
            <div class="swiper-wrapper">
                <!-- Hero Slide Start -->
                <div class="swiper-slide">
                    <div class="hero-slide">
                        <!-- Slider Image Start -->
                        <div class="hero-slider-image">
                            <img src="{% static "images/hero/hero_1.webp" %}" alt="">
                        </div>
                        <!-- Slider Image End -->

                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-10">
                                    <!-- Hero Content Start -->
                                    <div class="hero-content">
                                        <!-- Section Title Start -->
                                        <div class="section-title">
                                            <h3 class="wow fadeInUp">king space interiors</h3>
                                            <h1 class="text-anime-style-2" data-cursor="-opaque">Designing Spaces That Inspire</h1>
                                            <p class="wow fadeInUp" data-wow-delay="0.2s">From cozy homes to modern offices, we bring your vision to life with beautiful interiors crafted to reflect your style.</p>
                                        </div>
                                        <!-- Section Title End -->
                
                                        <!-- Hero Button Start -->
                                        <div class="hero-btn wow fadeInUp" data-wow-delay="0.4s">
                                            <a href="{% url "about" %}" class="btn-default">explore more</a>
                                            <a href="{% url "projects" %}" class="btn-default btn-highlighted">view projects</a>
                                        </div>
                                        <!-- Hero Button End -->
                                    </div>
                                    <!-- Hero Content End -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Hero Slide End -->

                <!-- Hero Slide Start -->
                <div class="swiper-slide">
                    <div class="hero-slide">
                        <!-- Slider Image Start -->
                        <div class="hero-slider-image">
                            <img src="{% static "images/hero/hero_2.webp" %}" alt="">
                        </div>
                        <!-- Slider Image End -->

                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-10">
                                    <!-- Hero Content Start -->
                                    <div class="hero-content">
                                        <!-- Section Title Start -->
                                        <div class="section-title">
                                            <h3 class="wow fadeInUp">king space interiors</h3>
                                            <h1 class="text-anime-style-2" data-cursor="-opaque">Transforming Ideas Into Timeless Interiors</h1>
                                            <p class="wow fadeInUp" data-wow-delay="0.2s">We blend creativity and expertise to deliver custom interior solutions that elevate everyday living and working spaces.</p>
                                        </div>
                                        <!-- Section Title End -->
                
                                        <!-- Hero Button Start -->
                                        <div class="hero-btn wow fadeInUp" data-wow-delay="0.4s">
                                            <a href="{% url "about" %}" class="btn-default">explore more</a>
                                            <a href="{% url "projects" %}" class="btn-default btn-highlighted">view projects</a>
                                        </div>
                                        <!-- Hero Button End -->
                                    </div>
                                    <!-- Hero Content End -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Hero Slide End -->
            </div>
            <div class="hero-pagination"></div>
        </div>        
    </div>
    <!-- Hero Section End -->
    
    <!-- About Us Section Start -->
    <div class="about-us">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <!-- About Us Images Start -->
                    <div class="about-us-images">
                        <!-- About Image 1 Start -->
                        <div class="about-img-1">
                            <figure class="image-anime reveal">
                                <img src="{% static "images/about/about_img_1.webp" %}" alt="">
                            </figure>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <!-- About Us Content Start -->
                    <div class="about-us-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">about us</h3>
                            <h2 class="text-anime-style-2" data-cursor="-opaque">Our love for spaces, your <span>ideas transformed</span></h2>
                            <p class="wow fadeInUp" data-wow-delay="0.2s">Our expert design team collaborates with you to understand your unique vision, bringing it to life through creativity and attention to every detail — whether it’s a single room refresh or a complete home transformation.</p>
                        </div>
                        <!-- Section Title End -->

                        <!-- About Us Content Body Start -->
                        <div class="about-us-content-body">
                            <!-- About Content Info Start -->
                            <div class="about-us-content-info">
                                <!-- About Us Content List Start -->
                                <div class="about-us-content-list wow fadeInUp" data-wow-delay="0.4s">
                                    <ul>
                                        <li>Latest technologies</li>
                                        <li>High-Quality Designs</li>
                                    </ul>
                                    
                                </div>
                                
                                <!-- About Us Content List End -->

                                <!-- About Us Content Button Start -->
                                <div class="about-us-content-btn wow fadeInUp" data-wow-delay="0.6s">
                                    <a href="{% url "about" %}" class="btn-default">read more</a>
                                </div>
                                <!-- About Us Content Button End -->
                            </div>
                            <!-- About Content Info End -->

                            
                        </div>
                        <!-- About Us Content Body End -->
                    </div>
                    <!-- About Us Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- About Us Section End -->

    <!-- Why Choose Us Section Start -->
    <div class="why-choose-us">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <!-- Why Choose Content Start -->
                    <div class="why-choose-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">why choose us</h3>
                            <h2 class="text-anime-style-2" data-cursor="-opaque">How our organization <span>works for you</span></h2>
                            <p class="wow fadeInUp" data-wow-delay="0.2s">From the first sketch to the final reveal, we turn your ideas into reality through innovative thinking, seamless teamwork, and skilled execution.</p>
                        </div>
                        <!-- Section Title End -->

                        <!-- Why Choose Item List Start -->
                        <div class="why-choose-item-list">
                            <!-- Why Choose Item Start -->
                            <div class="why-choose-item wow fadeInUp" data-wow-delay="0.4s">
                                <!-- Icon Box Start -->
                                <div class="icon-box">
                                    <img src="{% static "images/icons/customize.svg" %}" alt="">
                                </div>
                                <!-- Icon Box End -->

                                <!-- Why Choose Item Content Start -->
                                <div class="why-choose-item-content">
                                    <h3>Customized Interior Solutions</h3>
                                    <p>Every space we create is thoughtfully designed to align with your personal style, functional needs, and lifestyle aspirations.</p>
                                </div>
                                <!-- Why Choose Item Content End -->
                            </div>
                            <!-- Why Choose Item End -->
                            
                            <!-- Why Choose Item Start -->
                            <div class="why-choose-item wow fadeInUp" data-wow-delay="0.6s">
                                <!-- Icon Box Start -->
                                <div class="icon-box">
                                    <img src="{% static "images/icons/project.svg" %}" alt="">
                                </div>
                                <!-- Icon Box End -->

                                <!-- Why Choose Item Content Start -->
                                <div class="why-choose-item-content">
                                    <h3>End-to-End Project Execution</h3>
                                    <p>We manage every detail—from planning to installation—ensuring a smooth, stress-free experience and exceptional results.</p>
                                </div>
                                <!-- Why Choose Item Content End -->
                            </div>
                            <!-- Why Choose Item End -->

                            <!-- Why Choose Item Start -->
                            <div class="why-choose-item wow fadeInUp" data-wow-delay="0.8s">
                                <!-- Icon Box Start -->
                                <div class="icon-box">
                                    <img src="{% static "images/icons/collaboration.svg" %}" alt="">
                                </div>
                                <!-- Icon Box End -->

                                <!-- Why Choose Item Content Start -->
                                <div class="why-choose-item-content">
                                    <h3>Collaborative by Design</h3>
                                    <p>We listen, adapt, and refine with you every step of the way ensuring your ideas are heard and brought beautifully to life.</p>
                                </div>
                                <!-- Why Choose Item Content End -->
                            </div>
                            <!-- Why Choose Item End -->
                        </div>
                        <!-- Why Choose Item List End -->
                    </div>
                    <!-- Why Choose Content End -->
                </div>

                <div class="col-lg-7">
                    <!-- Why Choose Images Images Start -->
                    <div class="why-choose-images">
                        <!-- Why Choose Box 1 Start -->
                        <div class="why-choose-img-box-1">
                            <!-- Why Choose img 1 Start -->
                            <div class="why-choose-img-1">
                                <figure class="image-anime reveal">
                                    <img src="{% static "images/about/about_img_2.webp" %}" alt="">
                                </figure>
                            </div>
                            <!-- Why Choose img 1 End -->

                            <!-- Why Choose img 2 Start -->
                            <div class="why-choose-img-2">
                                <figure class="image-anime reveal">
                                    <img src="{% static "images/about/about_img_3.webp" %}" alt="">
                                </figure>
                            </div>
                            <!-- Why Choose img 2 End -->
                        </div>
                        <!-- Why Choose Box 1 End -->

                        <!-- Why Choose Box 2 Start -->
                        <div class="why-choose-img-box-2">
                            <!-- Why Choose img 3 Start -->
                            <div class="why-choose-img-3">
                                <figure class="image-anime reveal">
                                    <img src="{% static "images/about/about_img_4.webp" %}" alt="">
                                </figure>
                            </div>
                            <!-- Why Choose img 3 End -->

                            <!-- Why Choose img 4 Start -->
                            <div class="why-choose-img-4">
                                <figure class="image-anime reveal">
                                    <img src="{% static "images/about/about_img_5.webp" %}" alt="">
                                </figure>
                            </div>
                            <!-- Why Choose img 4 End -->
                        </div>
                        <!-- Why Choose Box 2 End -->
                    </div>
                    <!-- Why Choose Images Images End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Why Choose Us Section End -->

    <!-- Our Services Section Start -->
    <div class="our-services">
        <div class="container">
            <div class="row section-row align-items-center">
                <div class="col-lg-6">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">our services</h3>
                        <h2 class="text-anime-style-2" data-cursor="-opaque">Tailored interior solutions for<span> your lifestyle</span></h2>
                    </div>
                    <!-- Section Title End -->
                </div>

                <div class="col-lg-6">
                    <!-- Section Title Content Start -->
                    <div class="section-title-content">
                        <p class="wow fadeInUp" data-wow-delay="0.2s">We provide bespoke interior design services—from concept to completion—tailored to your unique needs.</p>
                    </div>
                    <!-- Section Title Content End -->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <!-- Service Item Start -->
                    <div class="service-item wow fadeInUp">
                        <!-- Service Image Start -->
                        <div class="service-image">
                            <a href="service-single.html" data-cursor-text="View">
                                <figure class="image-anime">
                                    <img src="{% static "images/service-1.jpg" %}" alt="">
                                </figure>
                            </a>
                        </div>
                        <!-- Service Image End -->

                        <!-- Service Button Start -->
                        <div class="service-btn">
                            <a href="service-single.html"><img src="{% static "images/arrow-white.svg" %}" alt=""></a>
                        </div>
                        <!-- Service Button End -->

                        <!-- Service Content Start -->
                        <div class="service-content">
                            <h3><a href="service-single.html">residential interior design</a></h3>
                            <p>We create personalized living spaces that reflect your style and functional needs.</p>
                        </div>
                        <!-- Service Content End -->
                    </div>
                    <!-- Service Item End -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- Service Item Start -->
                    <div class="service-item wow fadeInUp" data-wow-delay="0.2s">
                        <!-- Service Image Start -->
                        <div class="service-image">
                            <a href="service-single.html" data-cursor-text="View">
                                <figure class="image-anime">
                                    <img src="{% static "images/service-2.jpg" %}" alt="">
                                </figure>
                            </a>
                        </div>
                        <!-- Service Image End -->

                        <!-- Service Button Start -->
                        <div class="service-btn">
                            <a href="service-single.html"><img src="{% static "images/arrow-white.svg" %}" alt=""></a>
                        </div>
                        <!-- Service Button End -->

                        <!-- Service Content Start -->
                        <div class="service-content">
                            <h3><a href="service-single.html">commercial interior design</a></h3>
                            <p>Enhancing business environments with professional, functional, and aesthetically.</p>
                        </div>
                        <!-- Service Content End -->
                    </div>
                    <!-- Service Item End -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- Service Item Start -->
                    <div class="service-item wow fadeInUp" data-wow-delay="0.4s">
                        <!-- Service Image Start -->
                        <div class="service-image">
                            <a href="service-single.html" data-cursor-text="View">
                                <figure class="image-anime">
                                    <img src="{% static "images/service-3.jpg" %}" alt="">
                                </figure>
                            </a>
                        </div>
                        <!-- Service Image End -->

                        <!-- Service Button Start -->
                        <div class="service-btn">
                            <a href="service-single.html"><img src="{% static "images/arrow-white.svg" %}" alt=""></a>
                        </div>
                        <!-- Service Button End -->

                        <!-- Service Content Start -->
                        <div class="service-content">
                            <h3><a href="service-single.html">furniture and decor selection</a></h3>
                            <p>Our experts help you choose the perfect furniture and decor complement your style.</p>
                        </div>
                        <!-- Service Content End -->
                    </div>
                    <!-- Service Item End -->
                </div>

                <div class="col-lg-12">
                    <!-- All Services Button Start -->
                    <div class="all-services-btn wow fadeInUp" data-wow-delay="0.6s">
                        <a href="services.html" class="btn-default">see all services</a>
                   </div>
                   <!-- All Services Button End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Our Services Section End -->
    <!-- Our Project Start -->
    <div class="our-project">
        <div class="container">
            <div class="row section-row align-items-center">
                <div class="col-lg-5">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">latest project</h3>
                        <h2 class="text-anime-style-2" data-cursor="-opaque">Designs that reflect <span> our creative identity</span></h2>
                    </div>
                    <!-- Section Title End -->
                </div>

                <div class="col-lg-7">
                    <!-- Section Title Content Start -->
                    <div class="section-title-content">
                        <p class="wow fadeInUp" data-wow-delay="0.2s">Explore our portfolio of thoughtfully designed residential and commercial projects that blend style and purpose.</p>
                    </div>
                    <!-- Section Title Content End -->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!-- Our Project Nav start -->
                    <div class="our-Project-nav wow fadeInUp" data-wow-delay="0.4s">
                        <ul>
                            <li><a href="#" class="active-btn" data-filter="*">all</a></li>
                            <li><a href="#" data-filter=".architecture">architecture</a></li>
                            <li><a href="#" data-filter=".interior">interior</a></li>
                            <li><a href="#" data-filter=".bedroom">bedroom</a></li>
                            <li><a href="#" data-filter=".furniture">furniture</a></li>
                            <li><a href="#" data-filter=".kitchen">kitchen</a></li>
                        </ul>
                    </div>
                    <!-- Our Project Nav End -->
                </div>
    
                <div class="col-lg-12">
                    <!-- Project Item Boxes start -->
                    <div class="row project-item-boxes align-items-center">
                        <div class="col-md-6 project-item-box architecture bedroom">
                            <!-- Project Item Start -->
                            <div class="project-item wow fadeInUp">
                                <div class="project-image">
                                    <div class="project-featured-image">
                                        <figure class="image-anime">
                                            <img src="{% static "images/project-1.jpg" %}" alt="">
                                        </figure>
                                    </div>
                                
                                    <div class="project-btn">
                                        <a href="project-single.html"><img src="{% static "images/arrow-white.svg" %}" alt=""></a>
                                    </div>
                                </div>     
    
                                <div class="project-content">
                                    <h3>residential spaces</h3>
                                    <h2><a href="project-single.html">urban retreat: modern design meets comfort</a></h2>
                                </div>
                            </div>
                            <!-- Project Item End -->
                        </div>
    
                        <div class="col-md-6 project-item-box interior kitchen">
                            <!-- Project Item Start -->
                            <div class="project-item wow fadeInUp" data-wow-delay="0.2s">
                                <div class="project-image">
                                    <div class="project-featured-image">
                                        <figure class="image-anime">
                                            <img src="{% static "images/project-2.jpg" %}" alt="">
                                        </figure>
                                    </div>
                                
                                    <div class="project-btn">
                                        <a href="project-single.html"><img src="{% static "images/arrow-white.svg" %}" alt=""></a>
                                    </div>
                                </div>     
    
                                <div class="project-content">
                                    <h3>luxury homes</h3>
                                    <h2><a href="project-single.html">luxurious loft: industrial chic for living</a></h2>
                                </div>
                            </div>
                            <!-- Project Item End -->
                        </div>
    
                        <div class="col-md-6 project-item-box furniture architecture">
                            <!-- Project Item Start -->
                            <div class="project-item wow fadeInUp" data-wow-delay="0.4s">
                                <div class="project-image">
                                    <div class="project-featured-image">
                                        <figure class="image-anime">
                                            <img src="{% static "images/project-3.jpg" %}" alt="">
                                        </figure>
                                    </div>
                                
                                    <div class="project-btn">
                                        <a href="project-single.html"><img src="{% static "images/arrow-white.svg" %}" alt=""></a>
                                    </div>
                                </div>     
    
                                <div class="project-content">
                                    <h3>outdoor living spaces</h3>
                                    <h2><a href="project-single.html">coastal vibes: serenity by the sea</a></h2>
                                </div>
                            </div>
                            <!-- Project Item End -->
                        </div>
    
                        <div class="col-md-6 project-item-box kitchen bedroom">
                            <!-- Project Item Start -->
                            <div class="project-item wow fadeInUp" data-wow-delay="0.6s">
                                <div class="project-image">
                                    <div class="project-featured-image">
                                        <figure class="image-anime">
                                            <img src="{% static "images/project-4.jpg" %}" alt="">
                                        </figure>
                                    </div>
                                
                                    <div class="project-btn">
                                        <a href="project-single.html"><img src="{% static "images/arrow-white.svg" %}" alt=""></a>
                                    </div>
                                </div>     
    
                                <div class="project-content">
                                    <h3>modern designs</h3>
                                    <h2><a href="project-single.html">minimalist haven: simple, clean, inviting spaces</a></h2>
                                </div>
                            </div>
                            <!-- Project Item End -->
                        </div>
                    </div>
                    <!-- Project Item Boxes End -->
                </div>
            </div>
        </div>
     </div>
    <!-- Our Project End -->

    <!-- How We Work Start -->
    <div class="how-we-work">
        <div class="container">
            <div class="row section-row align-items-center">
                <div class="col-lg-6">
                    <!-- Section Title Start -->
                    <div class="section-title dark-section">
                        <h3 class="wow fadeInUp">how we work</h3>
                        <h2 class="text-anime-style-2" data-cursor="-opaque">A seamless journey from <span> design to delivery</span></h2>
                    </div>
                    <!-- Section Title End -->
                </div>

                <div class="col-lg-6">
                    <!-- Section Title Content Start -->
                    <div class="section-title-content dark-section">
                        <p class="wow fadeInUp" data-wow-delay="0.2s">We guide you seamlessly from idea to execution, ensuring every step of the design journey reflects your vision.</p>
                    </div>
                    <!-- Section Title Content End -->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!-- How We Work List Start -->
                    <div class="how-we-work-list">
                        <!-- How We Item Start -->
                        <div class="how-we-work-item wow fadeInUp">
                            <div class="icon-box">
                                <img src="{% static "images/icons/meet_designer.svg" %}" alt="">
                            </div>
                            <div class="how-we-work-content">
                                <h3>01. Meet Designer</h3>
                                <p>Discuss your ideas and preferences with our designer to start shaping your vision.</p>
                            </div>
                        </div>
                        <!-- How We Item End -->

                        <!-- How We Item Start -->
                        <div class="how-we-work-item wow fadeInUp" data-wow-delay="0.2s">
                            <div class="icon-box">
                                <img src="{% static "images/icons/layout.svg" %}" alt="">
                            </div>
                            <div class="how-we-work-content">
                                <h3>02. Finalized Layout</h3>
                                <p>We create a layout that blends your style with functionality and get your final approval.</p>
                            </div>
                        </div>
                        <!-- How We Item End -->

                        <!-- How We Item Start -->
                        <div class="how-we-work-item wow fadeInUp" data-wow-delay="0.4s">
                            <div class="icon-box">
                                <img src="{% static "images/icons/progress.svg" %}" alt="">
                            </div>
                            <div class="how-we-work-content">
                                <h3>03. Work in Progress</h3>
                                <p>Our team begins the transformation with careful planning and regular updates.</p>
                            </div>
                        </div>
                        <!-- How We Item End -->

                        <!-- How We Item Start -->
                        <div class="how-we-work-item wow fadeInUp" data-wow-delay="0.6s">
                            <div class="icon-box">
                                <img src="{% static "images/icons/delivery.svg" %}" alt="">
                            </div>
                            <div class="how-we-work-content">
                                <h3>04. Smooth Delivery</h3>
                                <p>We deliver a fully finished space, ensuring everything is perfect and ready to use..</p>
                            </div>
                        </div>
                        <!-- How We Item End -->
                    </div>
                    <!-- How We Work List End -->

                </div>
            </div>
        </div>
    </div>
    <!-- How We Work End -->

    

    <!-- Our Testimonial Start -->
    <div class="our-testimonials">
        <div class="container-fluid">
            <div class="row no-gutters">
                <div class="col-lg-6">
                    <!-- Our Testimonial Image Start -->
                    <div class="our-testimonials-image">
                        <figure class="image-anime">
                            <img src="{% static "images/testimonial/testimonial_2.webp" %}" alt="testimonial">
                        </figure>
                    </div>
                    <!-- Our Testimonial Image End -->
                </div>

                <div class="col-lg-6">
                    <!-- Our Testimonial Content Start -->
                    <div class="our-testimonial-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">client feedback</h3>
                            <h2 class="text-anime-style-2" data-cursor="-opaque">Client stories that reflect our passion for  <span>interior design.</span></h2>
                        </div>
                        <!-- Section Title End -->

                        <!-- Testimonial Slider Start -->
                        <div class="testimonial-slider">
                            <div class="swiper">
                                <div class="swiper-wrapper" data-cursor-text="Drag">
                                    <!-- Testimonial Slide Start -->
                                    <div class="swiper-slide">
                                        <div class="testimonial-item">	
                                            <div class="testimonial-rating">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </div>                                        
                                            <div class="testimonial-body">
                                                <div class="testimonial-content">
                                                    <p>From the very first consultation, the team understood exactly what we wanted. They brought our vision to life and made the whole process smooth and enjoyable. Every corner of our home now feels uniquely ‘us’</p>
                                                </div>
                                            </div>
                                            <div class="testimonial-body">
                                                <div class="author-image">
                                                    <figure class="image-anime">
                                                        <img src="{% static "images/author-1.jpg" %}" alt="">
                                                    </figure>
                                                </div>            
                                                <div class="author-content">
                                                    <h3>Neha & Arjun R</h3>
                                                    <p>Kochi</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Testimonial Slide End -->

                                    <!-- Testimonial Slide Start -->
                                    <div class="swiper-slide">
                                        <div class="testimonial-item">	
                                            <div class="testimonial-rating">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </div>                                        
                                            <div class="testimonial-content">
                                                <p>Working with this agency was the best decision for our office redesign. The space feels modern and efficient, and our employees love it. They handled everything — from planning to execution — with professionalism.</p>
                                            </div>
                                            <div class="testimonial-body">
                                                <div class="author-image">
                                                    <figure class="image-anime">
                                                        <img src="{% static "images/author-1.jpg" %}" alt="">
                                                    </figure>
                                                </div>            
                                                <div class="author-content">
                                                    <h3>Ravi Menon,</h3>
                                                    <p>Director, Menon Tech Pvt Ltd</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Testimonial Slide End -->
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial Slider End -->

                        <!-- Testimonial Rating Counter Start -->
                        <div class="testimonial-rating-counter">
                            <div class="rating-counter">
                                <h2><span class="counter">4.82</span></h2>
                            </div>
                            <div class="testimonial-rating-content">
                                <div class="testimonial-client-rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <p>2,488 reviews</p>
                            </div>
                        </div>
                        <!-- Testimonial Rating Counter End -->
                    </div>
                    <!-- Our Testimonial Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Our Testimonial End -->


{% endblock content %}

