{% extends "core/base.html" %}
{% load static %}

{% block content %}
<div class="page-header parallaxie">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!-- Page Header Box Start -->
					<div class="page-header-box">
						<h1 class="text-anime-style-2" data-cursor="-opaque">{{service.title}}</h1>
						<nav class="wow fadeInUp">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{% url "home" %}">home /</a></li>
								<li class="breadcrumb-item"><a href="{% url "services" %}">services /</a></li>
								<li class="breadcrumb-item active" aria-current="page">{{service.title}}</li>
							</ol>
						</nav>
					</div>
					<!-- Page Header Box End -->
				</div>
			</div>
		</div>
	</div>
	<!-- Page Header End -->

    <!-- Page Service Single Start -->
    <div class="page-service-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <!-- Service Sidebar Start -->
                    <div class="service-sidebar">
                        <!-- Service Category List Start -->
                        

                        <!-- Service Category List End -->

                        <!-- Sidebar CTA Box Start -->
                        <div class="sidebar-cta-box wow fadeInUp" data-wow-delay="0.2s">
                            <!-- Sidebar CTA Image Start -->
                            <div class="sidebar-cta-image">
                                <div class="image-anime">
                                    <img src="{% static "images/contact/customer_service.webp" %}" alt="">
                                </div>
                            </div>
                            <!-- Sidebar CTA Image End -->

                            <!-- Sidebar CTA Body Start -->
                            <div class="sidebar-cta-Body">
                                <!-- Sidebar CTA Content Start -->
                                <div class="sidebar-cta-content">
                                    <h3>how can we help</h3>
                                    <p>If you need any helps, please feel free to contact us.</p>
                                </div>
                                <!-- Sidebar CTA Content End -->

                                <!-- Sidebar CTA Contact Start -->
                                <div class="sidebar-cta-contact">
                                    <!-- Sidebar CTA Contact Item Start -->
                                    <div class="sidebar-cta-contact-item">
                                        <div class="icon-box">
                                            <img src="{% static "images/icon-phone.svg" %}" alt="">
                                        </div>
                                        <div class="cta-contact-item-content">
                                            <p>(+971) 65 69 2177</p>
                                        </div>
                                    </div>
                                    <!-- Sidebar CTA Contact Item Start -->

                                    <!-- Sidebar CTA Contact Item Start -->
                                    <div class="sidebar-cta-contact-item">
                                        <div class="icon-box">
                                            <img src="{% static "images/icon-mail.svg" %}" alt="">
                                        </div>
                                        <div class="cta-contact-item-content">
                                            <p>sales@kingspaceuae.com</p>
                                        </div>
                                    </div>
                                    <!-- Sidebar CTA Contact Item Start -->
                                </div>
                                <!-- Sidebar CTA Contact End -->
                            </div>
                            <!-- Sidebar CTA Body End -->
                        </div>
                        <!-- Sidebar CTA Box End -->
                    </div>
                    <!-- Service Sidebar End -->
                </div>

                <div class="col-lg-8">
                    <!-- Service Single Content Start -->
                    <div class="service-single-content">
                        <!-- Service Feature Image Start -->
                        <div class="service-feature-image">
    <figure class="image-anime reveal">
        {% if service.image %}
            <img src="{{ service.image.url }}" alt="{{ service.name }}">
        {% endif %}
    </figure>
</div>
                        <!-- Service Feature Image End -->

                        <!-- Secvice Entry Start -->
                        <div class="service-entry">
    <p class="wow fadeInUp">{{ service.description }}</p>
</div>
                        <!-- Secvice Entry End -->

                        <!-- Why Choose Content Start -->
                        <div class="why-choose-content service-single-why-choose">
                            <!-- Section Title Start -->
                            <div class="section-title">
                                <h3 class="wow fadeInUp">why choose us</h3>
                                <h2 class="text-anime-style-2" data-cursor="-opaque">How our organization <span>works for you</span></h2>
                                <p class="wow fadeInUp" data-wow-delay="0.2s">From the first sketch to the final reveal, we turn your ideas into reality through innovative thinking, seamless teamwork, and skilled execution.</p>
                            </div>
                            <!-- Section Title End -->

                            <!-- Why Choose Item List Start -->
                            <div class="why-choose-item-list">
                            <!-- Why Choose Item Start -->
                            <div class="why-choose-item wow fadeInUp" data-wow-delay="0.4s">
                                <!-- Icon Box Start -->
                                <div class="icon-box">
                                    <img src="{% static "images/icons/customize.svg" %}" alt="">
                                </div>
                                <!-- Icon Box End -->

                                <!-- Why Choose Item Content Start -->
                                <div class="why-choose-item-content">
                                    <h3>Customized Interior Solutions</h3>
                                    <p>Every space we create is thoughtfully designed to align with your personal style, functional needs, and lifestyle aspirations.</p>
                                </div>
                                <!-- Why Choose Item Content End -->
                            </div>
                            <!-- Why Choose Item End -->
                            
                            <!-- Why Choose Item Start -->
                            <div class="why-choose-item wow fadeInUp" data-wow-delay="0.6s">
                                <!-- Icon Box Start -->
                                <div class="icon-box">
                                    <img src="{% static "images/icons/project.svg" %}" alt="">
                                </div>
                                <!-- Icon Box End -->

                                <!-- Why Choose Item Content Start -->
                                <div class="why-choose-item-content">
                                    <h3>End-to-End Project Execution</h3>
                                    <p>We manage every detail—from planning to installation—ensuring a smooth, stress-free experience and exceptional results.</p>
                                </div>
                                <!-- Why Choose Item Content End -->
                            </div>
                            <!-- Why Choose Item End -->

                            <!-- Why Choose Item Start -->
                            <div class="why-choose-item wow fadeInUp" data-wow-delay="0.8s">
                                <!-- Icon Box Start -->
                                <div class="icon-box">
                                    <img src="{% static "images/icons/collaboration.svg" %}" alt="">
                                </div>
                                <!-- Icon Box End -->

                                <!-- Why Choose Item Content Start -->
                                <div class="why-choose-item-content">
                                    <h3>Collaborative by Design</h3>
                                    <p>We listen, adapt, and refine with you every step of the way ensuring your ideas are heard and brought beautifully to life.</p>
                                </div>
                                <!-- Why Choose Item Content End -->
                            </div>
                            <!-- Why Choose Item End -->
                        </div>
                            <!-- Why Choose Item List End -->
                        </div>
                        <!-- Why Choose Content End -->

                        <!-- Service Single Faq Start -->
                        <div class="service-single-faq">
                            <!-- Section Title Start -->
                            <div class="section-title">
                            <h3 class="wow fadeInUp">about</h3>
                            <h2 class="text-anime-style-2" data-cursor="-opaque">Frequently Asked  <span>Questions</span></h2>
                            <p class="wow fadeInUp" data-wow-delay="0.2s">You will find answers to about our various construction work and constructor's service and more. Please feel
free to contact us if you don't get your question's answer in below.</p>
                        </div>
                            <!-- Section Title End -->

                            <!-- FAQ Accordion Start -->
                            <div class="faq-accordion" id="accordion">
                            <!-- FAQ Item Start -->
                            <div class="accordion-item wow fadeInUp">
                                <h2 class="accordion-header" id="heading1">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                        <span>1.</span>  What services do you offer?
                                    </button>
                                </h2>
                                <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1" data-bs-parent="#accordion">
                                    <div class="accordion-body">
                                        <p>We provide a full range of interior design services, including curtain designs, blinds, external shades and car park shades, outdoor furnitures, wall claddings & decking, and end-to-end project execution for residential, commercial, and corporate spaces.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Item End -->

                            <!-- FAQ Item Start -->
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.2s">
                                <h2 class="accordion-header" id="heading2">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                        <span>2.</span> How involved will I be in the design process?
                                    </button>
                                </h2>
                                <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordion">
                                    <div class="accordion-body">
                                        <p>We prioritize collaboration. Your input is important throughout each stage—from the initial consultation to the final design. We ensure every detail aligns with your vision and lifestyle preferences.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Item End -->

                            <!-- FAQ Item Start -->
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.4s">
                                <h2 class="accordion-header" id="heading3">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                        <span>3.</span>   Can you work within my budget?
                                    </button>
                                </h2>
                                <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordion">
                                    <div class="accordion-body">
                                        <p>Absolutely. We tailor our designs to match your budget while maintaining quality and style. During our initial discussions, we’ll understand your financial goals and create a plan that works best for you.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Item End -->

                            <!-- FAQ Item Start -->
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.6s">
                                <h2 class="accordion-header" id="heading4">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                        <span>4.</span>  How long does an interior design project usually take?
                                    </button>
                                </h2>
                                <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordion">
                                    <div class="accordion-body">
                                        <p>Project timelines vary depending on the size and complexity. A typical residential project can take anywhere from 4 to 12 weeks. We provide a clear schedule upfront and keep you updated at every stage.</p>
                                    </div>
                                </div>
                            </div>
                                <!-- FAQ Item End -->
                            </div>
                            <!-- FAQ Accordion End -->
                        </div>
                        <!-- Service Single Faq End -->
                    </div>
                    <!-- Service Single Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Service Single End -->
{% endblock content %}

